# Environments
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Terraform State (If applicable)
.terraform/
terraform.tfstate
terraform.tfstate.backup

# AWS SSH Keys
*.pem